<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="style.css" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title class="mt-5 mb-5">Text loader</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <!--Logo-->
      <a href="#" class="navbar-brand">
      <img src="files/logo.png" alt=" ">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Info
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item1" href="#" data-toggle="modal" data-target="#exampleModal">about the service</a>
              <a class="dropdown-item2" href="#" data-toggle="modal" data-target="#exampleModalCenter">about the developer</a>
            </div>
          </li>
        </ul>
    </nav>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">About the service</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
		This is a training program. It copies the text from the specified web pages
		</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <h1 class="text-center mt-5 pb-5">Text loader from websites</h1>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">
			About the developer
		</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
           You can find out about the developer of the program from his <a href="https://github.com/a-oleg" class="text-decoration-none">github</a>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!--Sequence of actions-->
    <div class="container text-center mt-2 pb-2"> <!--container 1140px-->
      <div class="row">
        <div class="col-md-6 col-lg">
          <img class="d-block m-auto" src="files/pastetext.png" alt="">
          <span>Paste the links into the text field</span>
          </a>
        </div>
        <div class=" col-md-6 col-lg">
          <img class="d-block m-auto" src="files/clickdownload.png" alt="">
          <span>Click "Parse URL"</span>
          </a>
        </div>
        <div class=" col-md-6 col-lg =">
          <img class="d-block m-auto" src="files/downloadedtext.png" alt="">
          <span>A file with the contents of the pages will be downloaded to your computer</span>
          </a>
        </div>
      </div>
    </div>

    <div class="container-fliud mt-5 pb-5 px-5">
      <!-- В action добавляю адрес сервера относительный java-файл controllets -->
        <form action = "/downloadResult" method="POST" id = "parseUrl" name="theForm1">
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Links</label>
          <textarea name="URL" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="https://www.site.com/category/article"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Parse URL</button>
      </form>
    </div>
    <div class="container-fliud mt-0 pb-5 px-5">
      <form action = "/downloadHistory" method="POST" id = "downloadHistory" name="theForm2">
        <button type="submit" class="btn btn-primary">The last five requests</button>
      </form>
    </div>

    <footer>
          <p class = "mt-3 pb-2">2022</p>
          <a href="https://github.com/a-oleg">
            <img src="files/github.png" alt="">
          </a>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!--<script src="script.js"></script>-->
   </body>
 </html>